<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" action="/create">

			<label for="thenamebox">
				{{#errors.reminder}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.reminder}}

				Reminder <input type="text" name="reminder" class="required" id="reminder" value="{{astro.reminder}}" required>
				
			</label>


			<label for="reminderDate">
				{{#errors.reminderDate}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.reminderDate}}

				Reminder Date <input type="date" name="reminderDate" id="reminderDate" value="{{astro.reimderDate}}"> 
			</label>

			<label for="skills">
				{{#errors.skills}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.skills}}

				Skills <input type="text" name="skills" id="skills" value="{{astro.skills}}" required> 
			</label>			

			<label for="photoUrl">
				{{#errors.photo}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.photo}}

				Photo URL <input type="text" name="photoUrl" id="photoUrl" value="{{astro.photoUrl}}"> 
			</label>


			<label for="source_name">
				Source name <input type="text" name="source_name" id="source_name" value="{{astro.source_name}}"> 
			</label>
			
			<label for="source_url">
				Source URL <input type="text" name="source_url" id="source_url" value="{{astro.source_url}}"> 
			</label>

			<label for="CanWalk">
				Can Walk? <input type="checkbox" name="CanWalk" id="CanWalk" {{#astro.CanWalk}}checked{{/astro.CanWalk}}> 
			</label>

			
			<input type="submit" value="Add Astronaut">

		</form>
	</div>
</div>




