<div class="row">
	<div class="span8">
		<h3>{{page_title}}</h3>

		<form method="POST" action="/create">


			<label for="thenamebox">
				{{#errors.reminder}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.reminder}}

				Reminder <input type="text" name="reminder" class="required" id="thenamebox" value="{{reminder.reminder}}" required>
				
			</label>


			<label for="reminderDate">
				{{#errors.reminderDate}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.reminderDate}}

				ReminderDate <input type="date" name="reminderDate" id="reminderDate" value="{{reminder.reminderDate}}" required> 
			</label>


			<label for="tag">
				{{#errors.tag}}
				<span class="help-block alert alert-error">{{type}}</span>
				{{/errors.tag}}

				Tasks <input type="text" name="tag" id="tag" value="{{reminder.tag}}" required> 
			</label>

			
			<input type="submit" value="Add Reminder">

		</form>
	</div>
</div>





