<form role="form">


  <div class="form-group">
    <label for="imageTitle">ImageTitle</label>
    <input type="text" class="form-control" id="imageTitle" placeholder="Enter Image Title">
  </div>


  <div class="form-group">
    <label for="inputFile">File input</label>
    <input type="file" id="inputFile">
    <p class="help-block">Example block-level help text here.</p>
  </div>

  <div class="checkbox">
    <label> <input type="checkbox" id="tag"> Tag1 </label>
    <label> <input type="checkbox" id="tag"> Tag2 </label>
    <label> <input type="checkbox" id="tag"> Tag3 </label>
    <label> <input type="checkbox" id="tag"> Tag4 </label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>